{% if not args %}
	{% set args = {
    title: "Gallery",
    img: [
        {
        src: "./../../images/gallery-slider/img-1.jpg",
        },
        {
        src: "./../../images/gallery-slider/img-2.jpg",
        },
        {
        src: "./../../images/gallery-slider/img-3.jpg",
        },
    ],
    
} %}
{% endif %}


<section class="s-gallery">
	<div class="s-gallery__container">

		{% if args.title %}
			<h2 class="s-gallery__title">{{ args.title }}</h2>
		{% endif %}


        {# {% for args.img.src|length %}
		<div class="s-gallery__picture">
			{% if args.img.src %}
				<img class="s-gallery__img" src="{{ args.img.src }}" alt="">
			{% endif %}
		</div>
        {% endfor %} #}

		<div class="s-gallery__picture swiper-container">
			<img src="./../../images/gallery-slider/img-3.jpg" alt="">
			<img src="./../../images/gallery-slider/img-2.jpg" alt="">
			<img src="./../../images/gallery-slider/img-1.jpg" alt="">
		</div>


	</div>
</section>
