{% if not args %}
	{% set args = {
        description: "Uniquely natural supplements designed for you, delivered to you.",
        logo: {
            src: "./../../images/hero.jpg",
        }
    } %}
{% endif %}

<section class="s-hero" style="background-image: url({{ args.logo.src }})">
	{% if args.description %}
		<div class="s-hero__description">{{ args.description }}</div>
	{% endif %}
</section>
