{% if not args %}
	{% set args = {
        title: "Too much copy supplied ",
        descriptionTitle: "Needs to be 2 lines max",
        list: [
        {
            title: "Marine collagen",
            text: "Vitamin E is miraculous! Amazing at treating skin problems like dehydration, deep scars, stretch marks and burns, it can also improve the quality of your hair and nails. It balances out your cholesterol and hormone levels and even gives you better vision although some people look really good in glasses ;). Lucky them haha!", 
            img: {
                src: "./../../images/moss.jpg",
            },
        },
        ],
        btn: {
            name: "View skin glow",
            href: "#"
        },
} %}
{% endif %}

<section class="s-ingredient">
	<div class="s-ingredient__container">
		<div class="s-ingredient__name">
			{% if args.title %}
				<h3 class="s-ingredient__title">{{ args.title }}</h3>
			{% endif %}

			{% if args.descriptionTitle %}
				<p class="s-ingredient__subtitle">{{ args.descriptionTitle }}</p>
			{% endif %}
		</div>

		{% if args.list|length %}
			<ul class="s-ingredient__list">
				{% for item in args.list %}
					<li class="s-ingredient__item">
						{% include "components/ingredient.twig" with item %}
					</li>
				{% endfor %}
			</ul>
		{% endif %}

		<div class="s-ingredient__more">
			{% if args.btn.href and args.btn.name %}
				<a class="s-ingredient__btn btn" href="{{ args.btn.href }}">{{ args.btn.name }}</a>
			{% endif %}
		</div>

	</div>
</section>
