{% if not args %}
	{% set args = {
        title: "Too much copy supplied ",
        descriptionTitle: "Needs to be 2 lines max",
        list: [
        {
            title: "Marine collagen",
            text: "Vitamin E is miraculous! Amazing at treating skin problems like dehydration, deep scars, stretch marks and burns, it can also improve the quality of your hair and nails. It balances out your cholesterol and hormone levels and even gives you better vision although some people look really good in glasses ;). Lucky them haha!", 
            img: {
                src: "./../../images/moss.jpg",
            },
        },
        {
            title: "Vitamin C",
            text: "Vitamin C is one of the safest and most effective nutrients. If you aren’t familiar with it then it’s time to go for a walk outside and look around ! Higher levels of vitamin C may be the ideal condition for overall health. Heard it all before ? I know, sorry.  Vitamin C is a powerful antioxidant for the synthesis of collagen, which helps to make our muscles and blood vessels stronger. It’s benefits may include protection against immune system deficiencies, cardiovascular disease, prenatal health problems, eye disease and many more ! Vitamin C is actually sensitive to stress and has shown great help in dealing with it. It helps to prevent more serious complications of the common cold, and research participants with the highest concentrations of vitamin C in their blood were associated with a 42% lower risk of stroke.",
            img: {
                src: "./../../images/lime.jpg",
            },
        },
        {
            title: "COQ10",
            text: "Coenzyme Q10 is the source that fuels every cell's energy production, including your heart, the biggest energy user in your body. With age, the innate production of CoQ10 declines. So we decided to help our pesky bodies along a bit. CoQ10 has been used for decades as an antioxidant that protects cells from the effects of ageing. This is what makes it one of the most popular rejuvenating supplements in the world. Keeping our bodies soft, supple and young for as long as possible is important to all of us! So we went ahead and rammed our product full of it for you. You can thank us later ;)",
            img: {
                src: "./../../images/cabbage.jpg",
            },
        },
        ],
        btn: {
            name: "View skin glow",
            href: "#"
        },
} %}
{% endif %}

<section class="s-ingredient">
	<div class="s-ingredient__container">
		<div class="s-ingredient__name">
			{% if args.title %}
				<h3 class="s-ingredient__title">{{ args.title }}</h3>
			{% endif %}

			{% if args.descriptionTitle %}
				<p class="s-ingredient__subtitle">{{ args.descriptionTitle }}</p>
			{% endif %}
		</div>

		{% if args.list|length %}
			<ul class="s-ingredient__list">
				{% for item in args.list %}
					<li class="s-ingredient__item">
						{% include "components/ingredient.twig" with item %}
					</li>
				{% endfor %}
			</ul>
		{% endif %}

		<div class="s-ingredient__more">
			{% if args.btn.href and args.btn.name %}
				<a class="s-ingredient__btn btn" href="{{ args.btn.href }}">{{ args.btn.name }}</a>
			{% endif %}
		</div>

	</div>
</section>
