<section class="s-news s-news__container">
    <h2 class="s-news__title el-title ">News</h2>
    <p class="s-news__text el-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Et elit at mi sapien in ac. Amet at morbi eget maecenas sit urna ipsum feugiat. Interdum leo pulvinar integer sed aliquet. Id aliquam in ligula fermentum, ornare adipiscing massa mi est. Tristique quis pellentesque nec, eu fermentum vivamus. Malesuada vel vel leo orci, maecenas amet. Facilisis pellentesque at mattis porttitor pellentesque nullam sit. Nulla sed magna mattis phasellus eget hac.</p>
</section>