.c-discount {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: px-to-rem(272);
    width: 100%;

    &__picture {
        height: px-to-rem(89);
        width: px-to-rem(89);
        border-radius: 50%;
        background-color: $c-main;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: px-to-rem(20);
    }

    &__description {
        max-width: px-to-rem(272);
        text-align: center;
        margin-bottom: px-to-rem(48);
    }

    &__img {
        width: px-to-rem(43);
    }

    &__title {
        font-family: Arial, Helvetica, sans-serif;
        font-size: $fs-menu;
        line-height: px-to-rem(23);
        color: $c-reverse;
        margin-bottom: px-to-rem(11);
        text-align: center;
    }

    @include media-breakpoint-up(lg) {
        min-width: px-to-rem(312);
        width: 100%;
    }
}