.c-ingredient {
    display: flex;
    flex-direction: column;
    align-items: center;

    &__description {
        padding: 5% 5%;
        flex: 1 0 45%;
        background-color: $c-main;
        width: 95%;
        border-radius: px-to-rem(13) px-to-rem(13) 0 0;

        &-title {
            margin-bottom: px-to-rem(17);
        }
    }

    &__picture {
        display: block;
        width: 100%;
        position: relative;

        &::before {
            content: '';
            display: block;
            width: 100%;
            padding-top: 72%;
        }

        &-wrap {
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        &-img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: px-to-rem(13);
        }
    }

    @include media-breakpoint-up(md) {
        display: flex;
        flex-direction: row;

        &__description {
            border-radius: px-to-rem(13) 0 0 px-to-rem(13);
        }
    }
}