.c-ingredient {
    height: max-content;
    background-color: $c-main;
    border-radius: px-to-rem(12);
    width: px-to-rem(317);
    margin: 0 px-to-rem(18);

    &__title {
        margin-bottom: px-to-rem(17);
        padding-top: px-to-rem(37);
    }

    &__wrap {
        margin-left: px-to-rem(18);
        margin-right: px-to-rem(18);
        padding: px-to-rem(23) px-to-rem(11) px-to-rem(48) px-to-rem(38);
        font-size: px-to-rem(16);
        margin: 0 px-to-rem(8);
        border-radius: px-to-rem(12) px-to-rem(12) 0 0;
    }

    &__inner {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__image {
        width: 107%;
        border-radius: px-to-rem(4);
        overflow: hidden;
        box-shadow: 0 px-to-rem(11) px-to-rem(14) rgba(0, 0, 0, 0.5);
    }

    &__link {
        width: 100%;
        height: 100%;
        display: block;
        background-position: 50%;
        background-repeat: no-repeat;
        background-size: cover;
        padding-top: px-to-rem(400);
    }

    @include media-breakpoint-up(lg) {
        min-width: px-to-rem(1392);

        &__title {
            padding-top: 0;
        }

        &__wrap {
            padding: px-to-rem(82) px-to-rem(52) px-to-rem(70) px-to-rem(92);
            background: #fff;
            border-radius: px-to-rem(4) 0 0 px-to-rem(4);
            overflow: hidden;
            font-size: $fs-text;
            width: px-to-rem(1487);
            margin: 0;
        }

        &__image {
            margin: 0;
            border-radius: px-to-rem(4) 0 0 px-to-rem(4);
            overflow: hidden;
            max-width: px-to-rem(835);
        }

        &__inner {
            margin: 0;
            display: flex;
            flex-direction: row;
            align-items: stretch;
        }

        &__link {
            margin: 0;
            overflow: hidden;
        }
    }
}