.c-ingredient {
    height: max-content;
    background-color: $c-main;
    border-radius: px-to-rem(12);
    width: px-to-rem(317);
    margin: 0 px-to-rem(18);

    &__title {
        margin-bottom: px-to-rem(17);
        padding-top: px-to-rem(37);
    }

    &__inner {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0 px-to-rem(-8);
    }

    &__wrap {
        margin-left: px-to-rem(38);
        margin-right: px-to-rem(16);
        margin-bottom: px-to-rem(40);
        max-width: 95%;
    }

    &__picture {
        box-shadow: 0 px-to-rem(11) px-to-rem(14) rgba(0, 0, 0, 0.5);
        display: block;
        width: 100%;
        position: relative;
        max-width: px-to-rem(835);

        &::before {
            content: '';
            display: block;
            width: 100%;
            padding-top: 100%;
        }
    }

    &__image {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &__img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: px-to-rem(6);
    }

    @include media-breakpoint-up(md) {
        min-width: px-to-rem(800);

        &__inner {
            display: flex;
            flex-direction: row;
            align-items: stretch;
            min-height: px-to-rem(300);
        }

        &__wrap {
            max-width: px-to-rem(400);
            flex: 0 0 45%;
        }

        &__img {
            width: 100%;
        }

        &__title {
            font-size: $fs-subtitle;
        }

        &__picture {
            &::before {
                padding-top: 0;
            }
        }
    }

    @include media-breakpoint-up(lg) {
        min-width: px-to-rem(1392);

        &__title {
            padding-top: 0;
        }

        &__wrap {
            padding: 0;
            margin-top: px-to-rem(82);
            margin-left: px-to-rem(92);
            margin-bottom: px-to-rem(70);
            margin-right: px-to-rem(52);
        }

        &__inner {
            min-height: px-to-rem(594);
        }
    }
}