.header {
  padding: 0 px-to-rem(26);
  padding-top: px-to-rem(16);

  &__nav {
    display: none;

    &-link {
      text-decoration: none;
      font-family: HelveticaNeueLTStd-Lt;
      font-size: $fs-menu;
      line-height: px-to-rem(24);
    }
  }

  &__wrap {
    max-width: px-to-rem(1736);
    margin: 0 auto;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
  }

  &__burger {
    padding-bottom: px-to-rem(4);

    &-menu {
      width: px-to-rem(22);
    }

    &-close {
      display: none;
    }
  }

  &__logo {
    width: px-to-rem(82);
  }

  &__basket {
    &-desc {
      display: none;
    }

    &-wrap {
      position: relative;
    }

    &-sum {
      font-size: px-to-rem(9);
      line-height: px-to-rem(11);
      width: px-to-rem(14);
      height: px-to-rem(14);
      color: $c-main;
      border: px-to-rem(1) solid $c-main;
      background: linear-gradient(130.7deg, #D369D6 7.15%, #EB0A3C 94.53%);
      border-radius: 50%;
      display: flex;
      justify-content: center;
      position: absolute;
      top: 0;
      right: px-to-rem(-7);
    }
  }

  &__menu-wrap {
    display: none;
  }

  @include media-breakpoint-up(lg) {
    padding-top: 0;

    &__logo {
      display: flex;
      flex-wrap: wrap;
      flex: 0 1 33%;
    }

    &__wrap {
      align-items: center;
      padding-top: px-to-rem(30);
    }

    &__nav {
      display: flex;
      flex: 0 1 33%;

      &-list {
        list-style-type: none;
        color: $c-main;

        &:not(:last-child) {
          margin-right: px-to-rem(52);
        }
      }

      &-item {
        display: flex;
      }
    }

    &__burger {
      display: none;
    }

    &__basket {
      &-desc {
        font-family: HelveticaNeueLTStd-Lt;
        font-size: $fs-menu;
        line-height: px-to-rem(24);
        display: flex;
        color: $c-main;
        margin-right: px-to-rem(11);
      }

      &-btn {
        display: flex;
      }
    }
  }
}





// .is-open {

//   .header {
//     position: absolute;
//     height: 100vh;
//     background: linear-gradient(130.7deg, $c-brandStart 7.15%, $c-brandEnd 94.53%);
//     width: 100%;

//     &__burger {
//       &-menu {
//         display: none;
//       }

//       &-close {
//         display: block;
//       }
//     }

//     &__nav {
//       &-menu {
//         display: flex;
//         padding-top: px-to-rem(163);
//         padding-left: 30%;
//       }

//       &-list {
//         list-style-type: none;
//         padding-bottom: px-to-rem(33);
//       }

//       &-link {
//         font-family: ArialBold;
//         font-size: $fs-subtitle;
//         line-height: px-to-rem(28);
//         color: $c-main;
//       }
//     }

//     &__menu-wrap {
//       display: block;
//     }

//     &__socials {
//       &-list {
//         list-style-type: none;
//         margin-right: px-to-rem(25);
//       }

//       &-list:last-child {
//         margin-right: 0;
//       }

//       &-img {
//         color: #ffffff;
//         fill: #ffffff;
//       }

//       &-item {
//         display: flex;
//         justify-content: center;
//         align-items: center;
//       }
//     }
//   }
// }