.header { 
  display: flex;
  align-items: center;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: px-to-rem(100);
  box-shadow: px-to-rem(4) px-to-rem(8) px-to-rem(25) rgba(65, 65, 65, 0.1);
  background-color: $c-main;
  &__container {
    @extend .l-container;
  }
  &__logo-img {
    width: px-to-rem(50);
    height: px-to-rem(57);
    margin-right: px-to-rem(122);
  }
  &__wrap {
    display: flex;
    align-items:center;
  }
  &__btn {
    margin-left: px-to-rem(20);
    width: px-to-rem(150);
    font-size: $fs-text;
    font-weight: 700;
    letter-spacing: 0.02em; 
    // &--active {
    //   color: $c-brand;
    //   background-color: $c-main;
    //   border: none;
    // }
    // &__btn:not(:first-child) {
    //   margin-left: px-to-rem(20);
    // }
    }
  &__btn:hover {
    border: none;
  }

  &__auth {
    display: flex;
  }

  &__menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }
}


.header-nav {
  &__list {
    display: flex;
    list-style-type: none;
    position: relative;
  }
  &__item {
    padding-right: 6px;
  }

  &__link {
  text-decoration: none;
  color: $c-title;
  letter-spacing: -0.0025em;
  line-height: 1.5;
  font-size: $fs-text;
  // &--active {
  //   color: $c-brand;
  // }
  }
  &__item + &__item {
    margin-left: 65px;
  }
  &__item:last-child:after {
    content: "";
    display: inline-block;
    background-image: url(./../../images/header/more.svg);
    background-repeat: no-repeat;
    background-position: center;
    padding: px-to-rem(6);
    width: px-to-rem(8);
    height: px-to-rem(4);
    align-items: center;
  }
}