.header {
  padding: 0 px-to-rem(26);
  padding-top: px-to-rem(14);
  position: relative;
  z-index: 2;

  &.is-active {
    background-color: $c-main;
    position: fixed;
    width: 100%;
    padding-bottom: px-to-rem(14);
    transition: all .3s ease-in-out;

    .header {
      &__nav-list {
        color: $c-reverse;
      }

      &__burger-menu {
        color: $c-reverse;
      }

      &__basket-desc {
        color: $c-reverse;
      }

      &__basket-svg {
        color: $c-reverse;
      }

      &__logo-svg {
        color: #FF1F9E;
      }

      &__logo-color {
        color: #CCED00;
      }
    }
  }

  &__nav {
    display: none;

    &-link {
      text-decoration: none;
      font-family: HelveticaNeueLTStd-Lt;
      font-size: $fs-menu;
      line-height: px-to-rem(24);

      &:hover {
        color: $c-accent;
      }
    }
  }

  &__wrap {
    max-width: px-to-rem(1736);
    margin: 0 auto;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
  }

  &__burger {
    padding-bottom: px-to-rem(4);
    cursor: pointer;

    &-menu {
      width: px-to-rem(22);
      color: $c-main;
    }
  }

  &__logo {

    &-link {
      display: flex;
    }

    &-img {
      width: 100%;
      height: 100%;
    }

    &-svg {
      width: px-to-rem(82);
      height: px-to-rem(26);
      color: $c-main;
    }
  }

  &__basket {
    &-desc {
      display: none;
    }

    &-wrap {
      position: relative;
    }

    &-svg {
      color: $c-main
    }

    &-sum {
      font-size: px-to-rem(9);
      line-height: px-to-rem(11);
      width: px-to-rem(14);
      height: px-to-rem(14);
      color: $c-main;
      border: px-to-rem(1) solid $c-main;
      background: linear-gradient(130.7deg, #D369D6 7.15%, #EB0A3C 94.53%);
      border-radius: 50%;
      display: flex;
      justify-content: center;
      position: absolute;
      top: 0;
      right: px-to-rem(-7);
    }

    &-btn {
      cursor: pointer;

      &:hover {
        color: $c-accent;
      }
    }
  }

  @include media-breakpoint-up(lg) {
    padding-top: 0;

    &__logo {
      display: flex;
      flex-wrap: wrap;
      flex: 0 1 33%;

      &-svg {
        width: px-to-rem(127);
        height: px-to-rem(38);
      }
    }

    &__wrap {
      align-items: center;
      padding-top: px-to-rem(17);
    }

    &__nav {
      display: flex;
      flex: 0 1 33%;

      &-list {
        list-style-type: none;
        color: $c-main;

        &:not(:last-child) {
          margin-right: px-to-rem(52);
        }
      }

      &-item {
        display: flex;
      }
    }

    &__burger {
      display: none;
    }

    &__basket {
      &-desc {
        font-family: HelveticaNeueLTStd-Lt;
        font-size: $fs-menu;
        line-height: px-to-rem(24);
        display: flex;
        color: $c-main;
        margin-right: px-to-rem(11);
      }

      &-btn {
        display: flex;
      }
    }
  }
}

.header-modal {
  padding: 0 px-to-rem(26);
  padding-top: px-to-rem(16);
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: linear-gradient(130.7deg, $c-brandStart 7.15%, $c-brandEnd 94.53%);
  transform: translateX(-1000%);
  transition: all 1s ease;
  z-index: 5;

  &.is-open {
    transform: translateX(0);
    transition: all 1s ease;
  }

  &__wrap {
    max-width: px-to-rem(1736);
    margin: 0 auto;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
  }

  &__burger {
    padding-bottom: px-to-rem(4);

    &-close {
      width: px-to-rem(13);
      cursor: pointer;
    }
  }

  &__logo {
    width: px-to-rem(82);
  }

  &__basket {
    &-desc {
      display: none;
    }

    &-wrap {
      position: relative;
    }

    &-sum {
      font-size: px-to-rem(9);
      line-height: px-to-rem(11);
      width: px-to-rem(14);
      height: px-to-rem(14);
      color: $c-main;
      border: px-to-rem(1) solid $c-main;
      background: linear-gradient(130.7deg, #D369D6 7.15%, #EB0A3C 94.53%);
      border-radius: 50%;
      display: flex;
      justify-content: center;
      position: absolute;
      top: 0;
      right: px-to-rem(-7);
    }
  }

  &__nav {

    &-list {
      list-style-type: none;
      margin-bottom: px-to-rem(30);
    }

    &-link {
      font-family: Arial;
      font-size: $fs-subtitle;
      line-height: px-to-rem(28);
      color: $c-main;
      text-decoration: none;
    }
  }

  &__socials {
    &-item {
      display: flex;
      align-items: center;
      justify-content: center;
      list-style-type: none;
    }

    &-list {
      margin-right: px-to-rem(25);
    }

    &-list:last-child {
      margin-right: 0;
    }

    &-icon {
      color: $c-main;
      width: 100%;
      height: 100%;
    }

    &-img {
      color: $c-main;
    }
  }

  &__inner {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 100%;
  }
}