{% set template_class = "t-base" %}
{% set main_class = template_class ~ '__main' %}

{% extends "layout/_index.twig" %}

{% block template %}

	{% include 'areas/header.twig' %}

	{% include "components/modal.twig" %}

	<main class="{{ main_class }}">
		{% block content %}
			{{ content }}
		{% endblock %}
	</main>

	{% include 'areas/footer.twig' %}


{% endblock %}
