.s-contacts {
    padding-top: px-to-rem(196);

    &__container {
        @extend .l-container;
    }

    &__title {
        font-weight: 600;
        font-size: $fs-heading;
        line-height: 1.2;
        letter-spacing: -0.005em;
        color: $c-brand;
        text-align: center;
        margin-bottom: px-to-rem(98);
    }

    &__message {
        text-align: center;
    }

    &__addr {
        display: flex;
        margin-bottom: px-to-rem(24);
    }

    &__addr-icon {
        margin-right: px-to-rem(24);
    }

    &__map {
        background-image: url(./../../images/contacts/map.jpg);
        background-repeat: no-repeat;
        background-position: 80%;
        background-size: cover;
        width: 100%;
        max-width: px-to-rem(660);
        height: px-to-rem(320);
        margin-bottom: px-to-rem(64);
    }

    &__message-title {
        font-weight: 600;
        font-size: $fs-headline;
        line-height: 1.4;
        color: $c-brand;
        margin-bottom: px-to-rem(32);
    }

    &__input {
        background-color: $c-bg-footer;
        padding-left: px-to-rem(24);
        height: px-to-rem(50);
        width: px-to-rem(320);
        border: none;
        border-radius: px-to-rem(8);
        font-size: $fs-text;
        line-height: 1.6;
        letter-spacing: -0.0025em;
        color: $c-text;
        width: 100%;
        max-width: px-to-rem(320);
        margin-bottom: px-to-rem(24);
    }

    &__textarea {
        font-size: $fs-text;
        line-height: 1.6;
        letter-spacing: -0.0025em;
        color: $c-text;
        width: 100%;
        max-width: px-to-rem(660);
        height: px-to-rem(206);
        border-radius: px-to-rem(10);
        border: px-to-rem(2) solid rgba(192, 206, 190, 0.5);
        padding-top: px-to-rem(16);
        padding-left: px-to-rem(24);
        margin-bottom: px-to-rem(24);
        resize: none;
    }

    &__message {
        margin-bottom: px-to-rem(64);
    }

    &__date-btn {
        width: 100%;
        max-width: px-to-rem(320);
    }

    &__subscribe {
        margin-bottom: px-to-rem(121);
        box-shadow: px-to-rem(4) px-to-rem(8) px-to-rem(25) rgba(65, 65, 65, 0.1);
        border-radius: px-to-rem(10);
        text-align: center;
        padding: px-to-rem(16);
    }

    &__subscribe-pic {
        margin-bottom: px-to-rem(24);
    }

    &__subscribe-img {
        width: 100%;
    }

    &__subscribe-title {
        font-weight: 600;
        font-size: $fs-headline;
        line-height: 1.4;
        color: $c-title;
        margin-bottom: px-to-rem(24);
    }

    &__subscribe-desc {
        font-size: $fs-text;
        line-height: 1.6;
        letter-spacing: -0.0025em;
        color: $c-text;
        margin-bottom: px-to-rem(24);
        text-align: left;
        margin-left: px-to-rem(32);
    }

    &__subscribe-input {
        background-color: $c-bg-footer;
        padding-left: px-to-rem(13);
        height: px-to-rem(50);
        width: px-to-rem(256);
        border: none;
        border-radius: px-to-rem(8);
        font-size: $fs-text;
        line-height: 1.6;
        letter-spacing: -0.0025em;
        color: $c-text;
        margin-bottom: px-to-rem(24);
    }

    &__subscribe-btn {
        height: px-to-rem(50);
        width: px-to-rem(256);
        margin-bottom: px-to-rem(32);
    }



    @include media-breakpoint-up(md) {
        padding-bottom: px-to-rem(111);

        &__inner {
            max-width: px-to-rem(606);
            margin: auto;
        }

        &__addr-name {
            font-size: $fs-headline;
        }

        &__date {
            margin-bottom: px-to-rem(56);
        }

        &__input {
            width: 100%;

            &:first-child {
                margin-right: px-to-rem(20);
            }
        }

        &__subscribe-img {
            width: px-to-rem(160);
            height: px-to-rem(160);
            object-fit: fill;
        }

        &__subscribe {
            display: flex;
            max-width: px-to-rem(660);
            margin: auto;
        }

        &__subscribe-news {
            text-align: left;
            margin-left: px-to-rem(32);
        }

        &__subscribe-desc {
            margin-left: 0;
        }

        &__subscribe-title {
            margin-bottom: px-to-rem(9);
            margin-top: px-to-rem(16);
        }

        &__subscribe-send {
            display: flex;
            max-width: px-to-rem(420);
            margin-bottom: px-to-rem(16);
        }

        &__subscribe-input {
            max-width: px-to-rem(420);
            margin-bottom: 0;
        }

        &__subscribe-btn {
            margin-bottom: 0;
            min-width: px-to-rem(135);
        }
    }


    @include media-breakpoint-up(xl) {

        &__locacion {
            display: flex;
            justify-content: space-between;
        }

        &__inner {
            max-width: none;
        }

        &__title {
            text-align: left;
        }

        &__date {
            padding-top: px-to-rem(32);
            margin-bottom: 0;
        }

        &__map {
            margin-bottom: 0;
        }

        &__locacion {
            margin-bottom: px-to-rem(64);
        }

        &__message {
            text-align: left;
        }

        &__subscribe {
            margin: 0;
        }
    }
}