.s-diets {
    background: $c-main;
    display: flex;
    align-items: center;
    justify-content: center;

    &__container {
        @extend .l-container;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &__item {
        list-style-type: none;
        margin-top: px-to-rem(20);
        margin-right: px-to-rem(20);
        margin-bottom: px-to-rem(20);
    }

    &__list {
        display: flex;
        flex-direction: row;
        overflow-x: scroll;
    }

    @include media-breakpoint-up(lg) {
        &__item {
            margin-right: px-to-rem(76);
        }
    }
}