.s-hero {
    padding-top: px-to-rem(96);
    padding-bottom: px-to-rem(64);

    &__container {
        @extend .l-container;
    }

    &__title {
        margin-bottom: px-to-rem(32);
        letter-spacing: -0.005em;
    }

    &__description {
        font-size: $fs-heading;
        color: $c-text;
        font-weight: 600;
        line-height: 1.2;
        margin-bottom: px-to-rem(48);
        letter-spacing: -0.005em;
    }

    &__btn {
        margin-bottom: px-to-rem(48);
    }


    @include media-breakpoint-up(md) {
        &__content {
            max-width: px-to-rem(660);
        }

        &__wrap {
            padding: 0 px-to-rem(50);
        }

        &__btn {
            margin-bottom: px-to-rem(64);
        }
    }

    @include media-breakpoint-up(lg) {
        &__btn {
            margin-bottom: px-to-rem(32);
        }

        &__wrap {
            padding: 0 px-to-rem(182);
        }
    }

    @include media-breakpoint-up(xl) {
        padding-top: px-to-rem(228);
        padding-bottom: px-to-rem(132);

        &__wrap {
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 0;
        }

        &__content {
            width: 50%;
        }

        &__picture {
            width: 50%;
        }
    }
}