.s-ingredient {
    padding-top: px-to-rem(30);
    padding-bottom: px-to-rem(31);
    background-color: $c-backgraund;

    &__name {
        text-align: center;
        margin-bottom: px-to-rem(35);
    }

    &__title {
        font-family: Arial;
        font-size: $fs-text;
        line-height: px-to-rem(24);
        color: $c-reverse;
        margin-bottom: px-to-rem(8);
    }

    &__subtitle {
        font-family: Arial, Helvetica, sans-serif;
        font-size: $fs-base;
        line-height: px-to-rem(19);
        color: $c-text;
    }

    &__item {
        list-style-type: none;
        padding-bottom: px-to-rem(35);
        margin: 0 auto;
    }

    &__list {
        display: flex;
        overflow-x: scroll;
    }

    &__btn {
        background: linear-gradient(130.7deg, $c-brandStart 7.15%, $c-brandEnd 94.53%);
        padding: px-to-rem(12) px-to-rem(20) px-to-rem(12) px-to-rem(20);
        margin: 0;
        border-radius: px-to-rem(24);
        min-width: px-to-rem(260);
    }

    &__content {
        max-width: px-to-rem(1488);
        margin: 0 auto;
    }

    &__more {
        text-align: center;
    }

    @include media-breakpoint-up(lg) {
        padding-top: px-to-rem(69);
        padding-bottom: px-to-rem(45);

        &__title {
            font-size: $fs-title;
            line-height: px-to-rem(24);
        }

        &__item {
            margin: 0 50%;
            margin-bottom: px-to-rem(80);
        }

        &__list {
            display: flex;
            overflow-x: scroll;
            align-items: baseline;
        }

        &__name {
            margin-bottom: px-to-rem(63);
        }
    }
}