.s-journal {
    padding-top: px-to-rem(335);
    padding-bottom: px-to-rem(33);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    max-height: px-to-rem(472);
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    &__title {
        font-family: Arial, Helvetica, sans-serif;
        font-size: $fs-text;
        line-height: px-to-rem(26);
        text-transform: uppercase;
        margin-bottom: px-to-rem(30);
        color: $c-main;
        text-align: center;
    }

    &__btn {
        font-family: Arial, Helvetica, sans-serif;
        font-size: $fs-button;
        line-height: px-to-rem(16);
        text-transform: uppercase;
        color: $c-main;
        border-radius: px-to-rem(24);
        background: linear-gradient(130.7deg, $c-brandStart 7.15%, $c-brandEnd 94.53%);
        padding: px-to-rem(12) px-to-rem(73) px-to-rem(12) px-to-rem(71);
    }

    @include media-breakpoint-up(md) {
        padding-top: px-to-rem(504);
        padding-bottom: px-to-rem(412);

        &__title {
            margin-bottom: px-to-rem(18);
            color: $c-main;
            font-size: $fs-title;
            max-width: px-to-rem(350);
            line-height: px-to-rem(39);
        }
    }
}