.s-news {
    padding-top: px-to-rem(96);
    padding-bottom: px-to-rem(64);
    border-bottom: px-to-rem(2) solid $c-border;

    &__container {
        @extend .l-container;
    }

    &__title {
        text-align: center;
        font-size: $fs-heading;
        padding-bottom: px-to-rem(64);
        max-width: 100%;
    }

    &__text {
        padding-bottom: px-to-rem(76);
        max-width: 100%;
    }

    &__list {
        list-style: none;
        margin-bottom: px-to-rem(64);
    }

    &__footer {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__btn {
        font-size: $fs-text;
        font-weight: 700;
        text-transform: capitalize;
        width: px-to-rem(220);
    }

    @include media-breakpoint-up(md) {
        &__title {
            padding-bottom: px-to-rem(74);
        }

        &__text {
            padding: 0 px-to-rem(70);
            padding-bottom: px-to-rem(64);
            width: px-to-rem(596);
        }

        &__list {
            display: grid;
            gap: px-to-rem(20);
            grid-template-columns: repeat(2, 1fr);
            padding: 0 px-to-rem(38);
        }
    }

    @include media-breakpoint-up(lg) {
        &__title {
            padding-bottom: px-to-rem(64);
        }

        &__text {
            padding: 0 px-to-rem(198);
            padding-bottom: px-to-rem(64);
        }

        &__list {
            grid-template-columns: repeat(3, 1fr);
            padding: 0;
        }
    }

    @include media-breakpoint-up(xl) {
        padding-top: px-to-rem(153);

        &__title {
            text-align: start;
        }

        &__list {
            grid-template-columns: repeat(4, 1fr);
            padding: 0;
        }

        &__text {
            padding-left: 0;
            padding-right: 0;
        }
    }
}