.s-news {
    &__container {
        @extend .l-container;
    }

    &__title {
        margin: 0;
    }

    &__text {
        margin: 0;
        padding-bottom: px-to-rem(48);
    }

    &__list {
        display: grid;
        gap: 30px;
        grid-template-columns: repeat(4, 1fr);
        list-style: none;
    }
}