.s-news {
    &__container {
        @extend .l-container;
    }

    &__title {
        margin: 0;
    }

    &__text {
        margin: 0;
        padding-bottom: px-to-rem(48);
    }

    &__list {
        display: grid;
        gap: 20px;
        grid-template-columns: repeat(4, 1fr);
        list-style: none;
    }

    &__btn-wrap {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__btn {
        display: inline-block;
        font-size: $fs-text;
        font-weight: 700;
        text-transform: capitalize;
        margin-top: px-to-rem(64);
        margin-bottom: px-to-rem(64);
        width: 100%;
        max-width: px-to-rem(220);
    }
}