.btn-clean {
  background: transparent;
  border: none;
  box-shadow: none;
  cursor: pointer;
  outline: none;
  font-size: inherit;
  color: inherit;
}

.btn {
  font-family: $font-base;
  font-weight: 600;
  border: px-to-rem(1) solid $c-brand;
  box-shadow: none;
  border-radius: 0.5em;
  min-width: px-to-rem(220);
  transition: color 0.2s linear;
  display: inline-block;
  cursor: pointer;
  text-decoration: none;
  outline: none;
  text-align: center;
  position: relative;
  padding: 0.875em 2em;
  overflow: hidden;
  background: $c-brand;
  color: $c-main;

  &:hover {
    color: $c-brand;
    background: $c-main;
  }

  &:focus,
  &:active {
    color: $c-brand;
    background: $c-main;
  }
  &:disabled,
  &.disabled {
    color: rgba($c-reverse, 0.4);
  }
}