.btn-clean {
  background: transparent;
  border: none;
  box-shadow: none;
  cursor: pointer;
  outline: none;
  font-size: inherit;
  color: inherit;
}

.btn {
  font-family: $font-base;
  font-weight: 600;
  border: 1px solid $c-brandStart;
  box-shadow: none;
  border-radius: 0.25em;
  min-width: 210px;
  margin: 10px 0;
  transition: color 0.2s linear,
    background 0.2s linear;
  display: inline-block;
  cursor: pointer;
  text-decoration: none;
  outline: none;
  text-align: center;
  position: relative;
  padding: 0.875em 2em;
  overflow: hidden;
  background: $c-brandStart;
  color: $c-main;

  &:hover {
    background: linear-gradient(40.7deg, $c-brandStart 6.71%, $c-brandEnd 94.09%);
    color: $c-main;
  }

  &:focus,
  &:active {
    color: $c-brandStart;
    background: $c-main;
  }

  &:disabled,
  &.disabled {
    color: rgba($c-reverse, 0.4);
  }
}