{% extends "./layout/base.twig" %}


{% block body %}

    <h1 class="el-title">
        Hello!
        {% include "components/svg_inline.twig"  with { name: "ic-twitter" } %}
    </h1>

{% endblock %}
