// Colors
$c-main: #ffffff;
$c-reverse: #000000;
$c-gray: #7C7C7C;


$c-error: red;

$c-brandStart:#D369D6;
$c-brandEnd: #EB0A3C;

$c-icon: #A738AC;

$c-accent: #304e91;

$c-backgraund:#F6F6F6;

$c-border: #dedede;
$c-disabled: #f3f3f3;

$c-text: #464646;