// Colors
$c-main: #ffffff;
$c-black: #000000;
$c-gary:  #7C7C7C;


$c-brand: #4F8066;

$c-border: #C0CBC6;

$c-bg-main: #E5E5E5;
$c-bg-footer: #F2F6F4;
$c-bg-menu: #F3F8F2;

$c-text: #6D6D6D;

$c-title: #323232;


$c-error: red;
$c-disabled: #f3f3f3;


