// Sizes

$s-content-padding: (
  xs: 20px,
  md: 40px,
);

$s-offset: px-to-rem(16);


$s-inner-width: px-to-rem(1340);


$s-content: $s-inner-width + 2 * $s-offset;


$s-header-height: (
        xs: px-to-rem(56),
        lg: px-to-rem(76),
);
