// Typography

// Fonts:
$font-base: 'Montserrat', sans-serif;


// Font sizes:
$fs-base: px-to-rem(16);
$fs-title-1: px-to-rem(56);
$fs-title-2: px-to-rem(26);
$fs-subtitle: px-to-rem(32);

// Fonts
$font-base: 'Mulish', sans-serif;


