<section class="c-card">
    <img class="c-card__img" src="./../../../images/card_img/c-card-1.jpg" alt="apartment design">
    <h3 class="c-card__subtitle el-subtitle">Title 3</h3>
    <p class="c-card__text el-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sagittis sit et laoreet urna turpis integer tortor, mus. </p>
    <a class="c-card__link" href="#">Read</a>
    <div class="c-card__buy buy">
        <p class="buy__price">$ 49</p>
        <button class="buy__btn btn">Buy</button>
    </div>
</section>
