.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  fill: currentColor;
}

.icon-ic-addr {
  width: 20px;
  height: 28px;
}
.icon-ic-google {
  width: 42px;
  height: 42px;
}
.icon-ic-instagram {
  width: 42px;
  height: 42px;
}
.icon-ic-linkedin {
  width: 42px;
  height: 42px;
}
.icon-ic-logo {
  width: 60px;
  height: 13px;
}
.icon-ic-mail {
  width: 28px;
  height: 22px;
}
.icon-ic-more {
  width: 10px;
  height: 6px;
}
.icon-ic-phone {
  width: 25px;
  height: 24px;
}
.icon-ic-twitter {
  width: 42px;
  height: 42px;
}
