<article class="c-diet" style="background-image:url({{ item.button.img }})">
	{% if item.button.href %}
		<a href="{{ item.button.href }}" class="c-diet__link">
			<div class="c-diet__wrap">
				{% if item.button.title %}
					<h3 class="c-diet__title">{{ item.button.title }}</h3>
				{% endif %}

				{% if item.button.text %}
					<p class="c-diet__text">{{ item.button.text }}</p>
				{% endif %}
			</div>
		</a>
	{% endif %}
</article>
