<article class="c-ingredient">
    <div class="c-ingredient__description">
        {% if item.title %}
            <h3 class="c-ingredient__description-title">{{ item.title }}</h3>
        {% endif %}

        {% if item.text %}
            <p class="c-ingredient__description-text">{{ item.text }}</p>
        {% endif %}
    </div>

    <div class="c-ingredient__picture">
        <div class="c-ingredient__picture-wrap">
            <img src="{{ item.img.src }}" alt="" class="c-ingredient__picture-img">
        </div>
        <a class="c-ingredient__picture-link" href="#"></a>
    </div>

</article>