<article class="c-ingredient">
	<div class="c-ingredient__inner">
		<div class="c-ingredient__wrap">
			{% if item.title %}
				<h3 class="c-ingredient__title">{{ item.title }}</h3>
			{% endif %}

			{% if item.text %}
				<div class="c-ingredient__text">{{ item.text }}</div>
			{% endif %}
		</div>

		{% if item.img.src %}
			<div class="c-ingredient__picture">
				<img class="c-ingredient__img" src="{{ item.img.src }}" alt="">
			</div>
		{% endif %}
	</div>


</article>
