<article class="c-modal js-modal-window">
    <div class="c-modal__wrap">
        <button class="js-close">{% include "elements/icon.twig" with { name: "ic-cancel", modifier: "c-modal__btn" } %}</button>
        <p class="c-modal__desc">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci dicta eum facilis porro reprehenderit
            blanditiis voluptas similique consequatur quisquam dolore facere assumenda nulla quae soluta voluptate
            tenetur libero, officiis saepe.
        </p>
    </div>


</article>