<article class="c-review">
	<div class="c-review__icon"></div>

	{% if text %}
		<div class="c-review__text el-text">{{ text }}</div>
	{% endif %}

	<div class="c-review__person">
		{% if img.src %}
			<div class="c-review__picture">
				<img class="c-review__img" src="{{ img.src }}" alt="">
			</div>
		{% endif %}

		<div class="c-review__person-date">
			{% if name %}
				<p class="c-review__name">{{ name }}</p>
			{% endif %}

			{% if job %}
				<p class="c-review__job">{{ job }}</p>
			{% endif %}
		</div>
	</div>

</article>
