@font-face { 
    font-weight: 700;
    font-family: HelveticaNeueLTProBd;
    font-style: normal;
    src: url("./../../fonts/HelveticaNeueLTProBd.otf");
}

@font-face { 
    font-weight: 600;
    font-family: HelveticaNeueLTProBdCn;
    font-style: normal;
    src: url("./../../fonts/HelveticaNeueLTProBdCn.otf");
}

@font-face { 
    font-weight: 500;
    font-family: HelveticaNeueLTProHvEx;
    font-style: normal;
    src: url("./../../fonts/HelveticaNeueLTProHvEx.otf");
}

@font-face { 
    font-weight: 800;
    font-family: HelveticaNeueLTStd-Hv;
    font-style: normal;
    src: url("./../../fonts/HelveticaNeueLTStd-Hv.otf");
}

@font-face { 
    font-weight: 400;
    font-family: HelveticaNeueLTStd-HvCn;
    font-style: normal;
    src: url("./../../fonts/HelveticaNeueLTStd-HvCn.otf");
}

@font-face { 
    font-weight: 300;
    font-family: HelveticaNeueLTStd-Lt;
    font-style: normal;
    src: url("./../../fonts/HelveticaNeueLTStd-Lt.otf");
}

@font-face { 
    font-weight: 100;
    font-family: HelveticaNeueLTStd-Th;
    font-style: normal;
    src: url("./../../fonts/HelveticaNeueLTStd-Th.otf");
}

@font-face { 
    font-weight: 200;
    font-family: HelveticaNeueLTStd-UltLtCn;
    font-style: normal;
    src: url("./../../fonts/HelveticaNeueLTStd-UltLtCn.otf");
}

@font-face { 
    font-weight: 400;
    font-family: ArialRegular;
    font-style: normal;
    src: url("./../../fonts/ArialRegular.ttf");
}

@font-face { 
    font-weight: 800;
    font-family: ArialBold;
    font-style: normal;
    src: url("./../../fonts/ArialBold.ttf");
}